.characterCardCardContent {
  display: flex;
  padding: 16px 16px 0 16px;
}

.characterCardCardContent:last-child {
  padding-bottom: 0;
}

.characterCardImage {
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 16px;
  margin-bottom: 10px;
}

.characterCardTextGrey {
  color: grey;
}

.characterCardTextGreen {
  color: yellowgreen;
}

.characterCardTextRed {
  color: tomato;
}

@media screen and (max-width: 360px) {
  .characterCardImage {
    width: 100px;
  }

  .characterCardImage {
    margin-right: 12px;
  }
}
